/*styles for the input form*/
label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}
/* Centre the form within the page */
form {
    margin:0 auto;
    width:459px;
}

/* Style the text boxes */
input, textarea {
	width:439px;
	height:27px;
	background:#efefef;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}

textarea {
	height:150px;
	background:url(images/textarea-bg.jpg) right no-repeat #efefef;
}
/*finishing touches*/
input {
    width:439px;
    height:27px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
/*on set focus*/
input:focus, textarea:focus {
    border:1px solid #97d6eb;
}
/*editting for the submit button*/
#submit {
    width:127px;
    height:38px;
    background-color: seagreen;
    text-indent:-9999px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

	#submit:hover {
	    opacity:.9;
	}

body {
  width: 100%;
  height: 100%;
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background-color: black;
}

html {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: 'Germania One', cursive;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Ropa Sans', sans-serif;
}

@media (min-width: 480px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}

a {
  color: #42DCA3;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover, a:focus {
  text-decoration: none;
  color: #1d9b6c;
}

.light {
  font-weight: 400;
}

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-custom .navbar-toggle {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}

.navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:active {
  outline: none;
}

.navbar-custom .navbar-brand {
  font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
  outline: none;
}

.navbar-custom a {
  color: white;
}

.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
}

.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}

.navbar-custom .nav li.active {
  outline: none;
}

.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}

.navbar-custom .nav li.active a:hover {
  color: white;
}

@media (min-width: 480px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/newton.JPG");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.intro .intro-body .brand-heading {
  font-size: 40px;
}

.intro .intro-body .intro-text {
  font-size: 18px;
}

@media (min-width: 480px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 100px;
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
  }
}

#about {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn.pcwallart.com%2Fimages%2Fdark-wallpaper-2.jpg&f=1);
  background-size: cover;
  width: 100%;
  padding-top: 50px;
}
#skills{
  padding-top: 50px;
}

.modal {
  color: black;
}

#projects {
  background-image: url(https://static.pexels.com/photos/159657/paint-notebook-brush-pencil-159657.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 50px;
}

#contact {
  background-image: url("../images/15.jpg");
  background-size: cover;
  width: 100%;
  padding-top: 50px;
  text-align: center;
}

#preview {
  border: white solid 1px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

#preview h2 p {
  color: white;
}

#button {
  border: white solid 1px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

#caption {
  color: white;
  margin-top: 20px;
}

.copywright {
  border-right: 1px solid;
}

.host {
  border-right: 1px solid;
}

#language {
  display: inline-flex;
}
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #777777;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}
