/*************google font******************/
@import url(https://fonts.googleapis.com/css?family=Caveat|Cedarville+Cursive|Indie+Flower|Patrick+Hand&display=swap);
/* --------------------------------------------------------	*/
/*-----------------Base -----------------------------------     */
/* --------------------------------------------------------	*/
body {
    font-family: 'Patrick Hand', cursive;
    font-weight: 400;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    cursor: default;
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Caveat', cursive;
}
h1 {
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 0.50em;
    color: #444444;
}
h2.subtitle {
    font-weight: 300;
    color: #666;
    font-size: 26px;
    margin-bottom: 0;
}
h2.subtitle i {
    color: #F54325;
    font-size: 10em;
}
/*h3{*/
/*    font-size: 28px;*/
/*}*/
a {
    text-decoration: none !important;
}
a.hover-color {
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}
a.hover-color:hover {
    color: #F54325 !important;
}
fieldset,
iframe {
    border: 0;
    margin: 0;
    padding: 0;
}
b,
strong {
    font-weight: 400;
}
p {
    line-height: 23px;
}
::selection {
    background: #fefac7;
    /* Safari */
    color: #555555;
}
::-moz-selection {
    background: #fefac7;
    /* Firefox */
    color: #555555;
    outline: none;
}
/*============================================================*/
/*========= margin padding for giving spaces in rows =========*/
/*============================================================*/
.margin-btm20 {
    margin-bottom: 20px;
}
.padding-60 {
    padding: 60px 0;
}
.margin-btm40 {
    margin-bottom: 40px;
}
.divied-40 {
    width: 100%;
    height: 40px;
    clear: both;
}
.divied-60 {
    width: 100%;
    height: 60px;
    clear: both;
}

/*==================== ========*/
/*========= main menu =========*/
/*============================*/
.navbar-inverse {
    background-color: #232323;

}
.navbar {
    border: none !important;
    border-radius: 0;
    margin-bottom: 0;
}

div.navbar {
    background: rgba(0, 0, 0, 0);

}
div.navbar.black {
    background: rgba(0, 0, 0, 0.9);
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #F54325 !important;
    color: #fff;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
    background-color: transparent;
    color: #fff;
}
.navbar-nav > li > a {
    font-family: 'Patrick Hand', cursive;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 13px;
}
.scroll-link:hover {
    color: #F54325;
}
@media (min-width: 768px) {
    .navbar-nav > li > a {

        padding: 25px 15px;

        line-height: 44px;
        vertical-align: middle;
    }
    .navbar-brand {
        color: #fff !important;
        float: left;
        padding: 30px 15px;
        font-weight: 700;
        font-size: 25px;
        height: 94px;
        text-transform: uppercase;

    }
    .navbar-brand img {
        margin-top: 7px;
    }

}

/*==================== ========*/
/*========= main menu option 2 with white backgorund =========*/
/*============================*/
.navbar-default {
    background-color: #fff;
    box-shadow: 0 0 8px #999;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #F54325;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: #F54325;
    color: #fff;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.active {
    color: #fff;
    background-color: #F54325;
}
/*==================== ========*/
/*========= main flex slider =========*/
/*============================*/
#main-slider-bg {
    background-image: url('../images/newton.jpg');
    position: relative;
    height: 700px;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
}
.slider-overlay {
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.overlay {
    background: rgba(0,0,0,.5);
    background-size: cover;
}
.slider-main {
    padding-top: 150px;
}
.slider-main .flex-control-paging li a {
    background: #fff !important;
}
.slider-main .flex-control-paging li a.flex-active {
    background: #F54325 !important;
}
.slider-main .flex-control-nav {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0 !important;
    position: relative;
    margin-top: 80px;
}

.slider-heading {
    color: #fff;
    font-weight: 300;
    font-size: 4em;
    margin-top: 70px;
    margin-bottom: 30px;
}
.slider-desc {
    color: #f0f0f0;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 20px;
}

/*==================== ========*/
/*========= responsive css for 768px that work in all divices =========*/
/*============================*/
@media(max-width:767px) {
    /*for slider text*/
    .slider-heading {
        font-size: 2.9em;
        margin-top: 10px;
    }
    .navbar-brand {
        padding-top: 15px;
    }
    #page-tree {
        padding-top: 70px !important;
    }
    div.navbar {
        background: #000;
    }

}

/*==================== ========*/
/*========= buttons css =========*/
/*============================*/
.btn {
    font-weight: 400;
    font-size: 13px;
    text-shadow: none;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    letter-spacing: 0;
}
/*button white for colored background*/
.btn-white {
    background-color: transparent;
    color: #fff;
    border-radius: 0;
    border: 1px solid #fff;
}
.btn-white:hover {
    background-color: #fff;
    color: #222;
}

.btn-theme {
    background-color: transparent;
    color: #F54325;
    border-radius: 0;
    border: 1px solid #F54325;
}
.btn-theme:hover {
    background-color: #F54325;
    color: #fff;
}
.btn-dark {
    background-color: #555;
    color: #fff;
    border: 1px solid #555;
}
.btn-dark:hover {
    background-color: #F54325;
    border-color: #F54325;
    color: #fff;
}
.btn-lg {
    padding: 14px 28px;
}
/*============================*/
/*============================*/
/*========= Services =========*/
/*============================*/
#services-sec {
    background-color: #fff;
    background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}
.services-box {
    padding: 25px 12px 15px;
    /*background: #fff;*/
    text-align: center;

}
.services-box h3 {
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 19px;
}
.services-box i {
    font-size: 39px;
    color: #F54325;
}
.services-box p {
    margin-bottom: 0;
}
/*services option 2*/
.services-box-2 {
    text-align: center;
}
.services-box-2 i {
    font-size: 34px;
}
.services-box-2 h3 {
    margin: 13px 0;
    font-size: 20px;
}

.list-services li i {
    margin-right: 10px;
    font-size: 18px;
}
.list-services li {
    font-size: 16px;
    padding: 5px 0;
}
/*==================== ========*/
/*========= Sections =========*/
/*============================*/
#recent-work {
    background-color: #fff;
    background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}
#about-colored {
    background-color: #fff;
    background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}

/*#about-colored .container{*/
/*    background: rgb(0, 0, 0, .5);*/
/*    background-size: inherit;*/
/*}*/
#testimonials {
    background-color: #F54325;

}
#footer-defoult {
    background-color: #fff;
    background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;

}
#page-tree {
    padding-top: 120px;
    padding-bottom: 25px;
    background-color: rgb(255, 221, 0);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);

}
#hightlight-sec {
    background: url('../img/highlight-bg1.jpg')no-repeat center scroll;

}

#hightlight-sec h1 {
    margin-top: 100px;
    color: #fff;
}
#hightlight-sec-2 {
    background: url('../img/highlight-bg2.jpg')no-repeat center scroll;

}
#hightlight-sec-2 h1 {
    margin-top: 100px;
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
}
#home-contact {
    background-color: #fff;
    background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}
/*==================== ========*/
/*========= Portflio =========*/
/*============================*/

#grid .mix {
    display: none;
    opacity: 0;
}
.portfolio-filters {
    margin-bottom: 30px;
    list-style-type: none;
}
.portfolio-filters {
    margin-left: 0;
    width: 100%;
    padding-left: 0;
}
.portfolio-filters li {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin-right: 8px;
    margin-bottom: 5px;
    background-color: #eee;
    color: #222;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

}
.portfolio-filters li:hover {
    background-color: #F54325;
    color: #fff;
}
.portfolio-filters li.active {
    color: #fff;
    background-color: #F54325;
}
.port-single-desc strong {
    font-weight: 700;
    color: #555;
}
.port-single-desc {
    margin-bottom: 10px !important;
    padding: 10px 20px !important;
}
.port-single-desc p {
    margin: 0;
}
.port-single-desc a {
    display: block;
}
/*portflio no margin no padding*/
.portfolio-no-margin {
    margin: 0;
    padding: 0;
    margin-bottom: 0 !important;
}
/*=========================================================*/
/*========= Portflio and blog image hover overlay =========*/
/*=========================================================*/
.portfolio-item {
    margin-bottom: 20px;
    padding: 5px;

}
.image-sec {
    position: relative;
}
.image-overlay {
    position: absolute;
    text-align: center;
    background: rgba(245, 67, 37, 0.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.image-overlay p {
    position: absolute;
    top: 50%;
    color: #fff;
    margin-top: -10px;
    width: 100%;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.image-overlay p i {
    font-size: 44px;
    color: #fff;
}
.image-sec:hover .image-overlay {
    opacity: 1;
}

/*==================== ========*/
/*========= Forms =========*/
/*============================*/
.form-box {
    padding: 15px;
    background: #fff;
    box-shadow: 0 1px 2px #999;
    -webkit-box-shadow: 0 1px 2px #F54325;
}
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.form-control,
select,
textarea {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    padding: 0 10px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 25px;
    color: #7a7a7a;
    border: 1px solid #dadada;
    resize: none;
    vertical-align: middle;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #FFF;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-control:focus,
textarea:focus {
    border: 1px solid #F54325;
    background: #FFF;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/*shortcodes typography css*/
.colored-bg {
    width: 100%;
    padding: 15px;
    background-color: #F54325;
}
.lead {
    font-weight: 400;
}

input {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 18px;
}

.shadow-effect {
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadow-effect:after,
.shadow-effect:before {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
}
.shadow-effect:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}

.links {
    color: #F54325;
}

#honeypot {
    display: none;
    /*makes the field not visible to humans*/
}
