/*************google font******************/
@import url(https://fonts.googleapis.com/css?family=Caveat|Cedarville+Cursive|Indie+Flower|Patrick+Hand&display=swap);
/* --------------------------------------------------------	*/
/*-----------------Base -----------------------------------     */
/* --------------------------------------------------------	*/
body{
    font-family: 'Patrick Hand', cursive;
   font-weight: 400;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;	
    cursor:default;
    font-size: 20px;
    background-image: linear-gradient(90deg,transparent 79px,#abced4 79px,#abced4 81px,transparent 81px),linear-gradient(#eee .1em,transparent .1em);
    background-size: 100% 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin-top:0px;
    margin-bottom: 20px;
    font-family: 'Caveat', cursive;
}
h1{
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 0.50em;
    color:#444444;
}
h2.subtitle{
    font-weight: 300;
    color:#666;
    font-size: 26px;
    margin-bottom: 0px;
}
h2.subtitle i{
    color:#F54325;
    font-size: 10em;
}
a{
    text-decoration: none !important;
}
.contact-list li strong {
    font-size: 14px;
}

b, strong {
    font-weight: 400;
}
a.hover-color{
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}
a.hover-color:hover{
    color:#F54325 !important;
}
p{
    line-height: 23px;
}
.btn-lg {
    padding: 10px 20px;
}
.btn-theme {
    background-color: transparent;
    color: #f54325;
    border-radius: 0;
    border: 1px solid #f54325;
}
/*==================== ========*/
/*========= Forms =========*/
/*============================*/
.form-box{
    padding: 15px;
    background: #fff;
    box-shadow: 0px 1px 2px #999;
    -webkit-box-shadow: 0px 1px 2px #F54325;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.form-control{
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    padding: 0 10px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 25px;
    color: #7a7a7a;
    border: 1px solid #dadada;
    resize: none;
    vertical-align: middle;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #FFF;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-control:focus{
    border: 1px solid #F54325;
    background: #FFF;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/*shortcodes typography css*/
.colored-bg{
    width:100%;
    padding: 15px;
    background-color: #F54325;
}
.lead{
    font-weight: 400;
}

input{
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 18px;
}

.links{
    color: #F54325;
}

#honeypot {
    display: none; /*makes the field not visible to humans*/
}
